<ion-header>
  <ion-toolbar color="primary">
    <ion-title><u>World Golf News</u></ion-title>
    <ion-icon name="golf"></ion-icon>
    <ion-icon name="golf" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-list>
    <ion-item button *ngFor="let title of newsArticles" [href]="title.url" target="_blank">
      <ion-label> {{title.title}}
        <p>Author: {{ title.author }}</p>
        <p>Date: {{title.publishedAt | date:'dd/MM/yyyy'}}</p>
      </ion-label> 
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite) = "loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
